*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(243, 243, 238);
} 


/* HEADER */
.navbar {
    background-color: blue;
    padding: 15px 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Roboto;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-list a:hover {
    color: black;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
        border-bottom: px solid white;
        cursor: pointer;
    }
}

/* ZONE Principale */
.container {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(222, 235, 204);
    border-radius: 3px;
    padding-bottom: 25px 25px;
    box-shadow: 0 20px 20px 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    color:chocolate;
    font-size: 24px;
}

h3 {
    text-align: center;
    font-weight: bold;
}

h3 {
    color: blueviolet;
    font-size: 20px;
}

p {
    color: black;
    font-size: 18px;
    padding: 10px 40px;
    justify-items: auto;
}

/* Definition de la Table */
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

tr > th {
    text-transform: uppercase;
}

th, td {
    padding: 2px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-weight: bold;
}

th {
    background-color: #007bff;
    color: #FFFFFF;
}

tr:hover {
    background-color: #85ea9e;
}


/* Listes*/

li:hover {
    background-color: #e9eaeb;
    border-radius: 12px;
}

ul li:nth-child(2) {
    color: blue;
}
/* Il va changer la couleur à partir du primier element dans list */
ul li:nth-child(n+3) {
    color: orange;
}
/* Il va changer la couleur à partir du quatrieme element dans list */

ul li:nth-child(n+4) {
    color: yellow;
}

ul li:nth-child(n+5) {
    color: rgb(248, 24, 24);
}


/* FOOTER */
footer {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    margin-top: 10px;
    background-color: blue;
    text-align: center;
}
   